body {
    margin: 0;
    padding: 0;
}


header {
    background-color: white;
    width: 100%;
  }
  

nav {
    margin: 0;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    background-color: #EAAA00;



}





nav li {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 14px;
    display: inline-block;
    width: 120px;
    padding: 10px;
    text-align: center;

}


nav li:hover {
    background-color: black;
    color:white;
    text-decoration: none;

}

nav li a {
    color: black;
    text-decoration: none;
}



nav li:hover a {
    color: inherit;
    text-decoration: inherit;
}


h1 {
    padding: 0px;
    margin:0px;
    color:black;
}


.section1 {
    background-color: black;
    height: 400px;
    padding: 0px;

}

.section1 h1 {
    text-align: left;
    margin-top: 50px;
    margin-left: 75px;
    display: inline-block;
    color:#EAAA00
}



.section1 img {
    border-radius: 50%;
    float:right;
    width: 300px;
    height: 300px;
    margin-top: 75px;
    margin-right: 50px;
    border: 2px solid #EAAA00;
    
}

.section2 {
    background-color: black;

    height: 400px;

}

