body {
    margin: 0;
    padding: 0;
}


header {
    background-color: white;
    width: 100%;
  }
  

nav {
    margin: 0;
    padding: 10px;

}

nav img {
    height: 50px;
    float: right;


}

nav li {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 15px;
    display: inline-block;
    width: 100px;

}

h1 {
    padding: 0px;
    margin:0px;
    color:black;
}


.section1 {
    background-color: lightgrey;
    height: 400px;
    padding: 0px;

}

.section1 h1 {
    text-align: left;
    margin-top: 50px;
    margin-left: 75px;
    display: inline-block;
}



.section1 img {
    border-radius: 50%;
    float:right;
    width: 300px;
    height: 300px;
    padding: 50px;
    
}

.section2 {
    background-color: white;
    height: 400px;

}

